---
layout: plain
title: Transense Branding
heading: Transense Logo
subheading: design 
---
{% include nav.html %}
{% include header.html %}

<section>
    <div class="copy-wrapper">
        <h2>Background</h2>
        <p>
            Transense Conference & Incentive Management offers complete service solutions in conference, incentive, event and travel management. My mission was to design them a new LOGO. 
        </p>
    </div>
    <div class="large-image-wrapper">
        <img src="/img/transense-01.jpg">
    </div>
</section>

{% include footer.html %}