.blog{
    section{
        p{
            font-weight: 300;
            line-height: 1.75;
        }
    }
}

article{
    .copy-wrapper{
        margin-top: $spacing-large;
    }
}
article:first-child{
    .copy-wrapper{
        margin-top: 0px;
    }
}