.blog{
    section{
        p{
            font-weight: 300;
            line-height: 1.75;
        }
    }

    hr{
        margin: $spacing-large 0;
    }
}

article{
    .copy-wrapper{
        margin-top: $spacing-large;
    }
}
article:first-child{
    .copy-wrapper{
        margin-top: 0px;
    }
}

.highlight {
  background: #fff;
  border: $base-border;
  margin-bottom: $spacing-small;

  pre {
    margin: 0;
    padding: $base-spacing;
  }
}