section{
    @include outer-container;
    padding-top: $spacing-large;
    

    .copy-wrapper{
        @include define-offset(2, 8);
        @include omega();

        .small-block{
            @include define-offset(2, 8);
        }

        .tag{
            font-weight: 300;
            margin-bottom: 0px;
        }

        p{
            font-weight: 400;
        }

        h2{
            margin-top: 0px;
            margin-bottom: $spacing-very-small;
            a{
                color: $dark-gray;
            }
            a:hover{
                color: $action-color;
            }
        }
        .left-col, .rig-col{
            @include span-columns(4 of 8);
        }
    }

    .large-image-wrapper{
        @include define-offset(0, 12);
        text-align: center;
        margin-top: $spacing-very-small;
        padding: 0 $spacing-large;
    }

    .small-image-wrapper{
        padding: 40px 60px 0px 60px;
        img{
            display:block;
            margin: 0 auto;
            // box-shadow: 0 5px 40px rgba(0,0,0,.2)
        }
    }

    .blog-info{
        margin-bottom: $spacing-tiny;
        li{
            display: inline-block;
            margin-right: $spacing-small;
            font-weight: 300;
            a{
                font-weight: 400;
            }
            i{
                font-size: 30px;
                color: $red;
                vertical-align: -3px;
                margin-right: 10px;
            }
        }
    }
    p.intro{
        font-size: 22px;
        font-weight: 300;
    }
}

.has-border{
    border-bottom: $base-border;
}

.spacing, .bottom-line{
    @include define-offset(2, 8);
}
.spacing{
    height: $spacing-large;
}

@include media($extra-large-screen-down){
    section .copy-wrapper .small-block{
       @include define-offset(1, 10);
    }
}

@include media($large-screen-down){
    section{
        .copy-wrapper{
            @include define-offset(1, 10);
            
        }
        .tag{
            font-size: 16px;
        }
        .large-image-wrapper{
            padding: 0px $spacing-tiny;
        }
    }
    .spacing, .bottom-line{
        @include define-offset(1, 10);
    }
}

@include media($small-screen){
    section{
        padding-top: $spacing-medium;
        .copy-wrapper{
            .blog-info li{
                display: block;
            }
            .small-image-wrapper{
                padding: 30px 20px 0px 20px;
            }
            .left-col, .rig-col{
                @include define-offset(0, 12);
            }
            .small-block{
                @include define-offset(0, 12);
            }
        }
    }

    .spacing{
        @include define-offset(0, 12);
        height: $spacing-medium;
    }
    .bottom-line{
        @include define-offset(0, 12);
    }
}

.has-bullet{
    list-style-type: disc;
    margin-left: 25px;
}

.has-number{
    list-style-type: decimal;
    margin-left: 25px;
}

.center-text{
    text-align: center;
}
.right-text{
    text-align: right;
    display: inline-block;
    width: 100%;
}
.steps{
    margin-top: $spacing-small;
    float: left;
    border-bottom: 1px dashed $light-gray;
    img{
        max-width: 60%;
        display: block;
        margin: 0 auto;
    }
}

article{
    float: left;
    padding-top: $spacing-large;
}
article:first-child{
    padding-top: 0px;
}

.about{
    section{
        .large-image-wrapper{
            margin-top: 0px;
        }
        h2{
            margin-top: 30px;
            .large{
                font-size: 82px;
            }
        } 
    } 
}

.view-project{
    font-weight: bold;
    font-size: 22px;
    span{
        display:inline-block;
        margin: 0px 15px;
    }
}
