---
layout: plain
category: blog
---
{% include nav.html %}

<header class="home">
    <div class="content-wrapper">
        <h1>Blog</h1>
        <h3>Sharing things in my life</h3>
    </div>
    <div class="spacing has-border"></div>
</header>


<section itemscope itemtype="http://schema.org/Blog">
    {% for post in paginator.posts %}
        <article>
            <div class="copy-wrapper">
                <div class="calendar center-text">
                    <p class="month">{{ post.date | date: "%b" }}</p>
                    <p class="date">{{ post.date | date: "%d" }}</p>
                    <p class="year">{{ post.date | date: "%Y" }}</p>
                </div>

                <div class="main-content">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <div itemtype="description">
                        {% if post.description %}
                            {{ post.description | markdownify }}
                        {% else %}
                            {{ post.content | truncatewords:50 | markdownify }}
                        {% endif %} 
                        <a class="right-text" href="{{ post.url }}">Read more</a>
                    </div>
                </div>
            </div>
            <div class="spacing has-border"></div>
        </article>
    {% endfor %}

    <div class="copy-wrapper right-text">
        <!-- Pagination links -->
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            {% else %}
                <span class="previous">Previous</span>
            {% endif %}
            
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
                <span class="next ">Next</span>
            {% endif %}
        </div>
    </div>

</section>

{% include footer.html %}