---
layout: plain
title: Redant <br>Presentation Template
subheading: RedAnt Project / design / development
---
{% include nav.html %}
{% include header.html %}

<section>
    <div class="copy-wrapper">
        <div class="left-col">
            <img src="/img/redant-01.jpg">
        </div>
        <div class="rig-col">
            <img src="/img/redant-02.jpg">
        </div>
    </div>

     <div class="copy-wrapper">
        <div class="left-col">
            <img src="/img/redant-03.jpg">
        </div>
        <div class="rig-col">
            <img src="/img/redant-04.jpg">
        </div>
     </div>
</section>

{% include footer.html %}