---
layout: plain
title: RedAnt Presentation Template
heading: RedAnt <br>Presentation Template
subheading: <a href="http://www.redant.com.au/" target="_blank">RedAnt Project</a>  / Design
---
{% include nav.html %}
{% include header.html %}

<section>
    <div class="copy-wrapper">
        <div class="left-col">
            <img src="/img/redant-01.jpg">
        </div>
        <div class="rig-col">
            <img src="/img/redant-02.jpg">
        </div>
    </div>

     <div class="copy-wrapper">
        <div class="left-col">
            <img src="/img/redant-03.jpg">
        </div>
        <div class="rig-col">
            <img src="/img/redant-04.jpg">
        </div>
     </div>
</section>

<section>
    <p class="center-text">Next project: <a href="/projects/transense">Transense Logo</a></p>
</section>
{% include footer.html %}