---
layout: plain
title: Projects
subtitle: Recent projects I worked on
---
{% include nav.html %}
{% include header.html %}

<section>
  <div class="copy-wrapper">
      <p class="tag">Design / Development</p>
      <h2><a href="/projects/flu-reporter">Flu reporter</a></h2>
      <p>
          Past few years especially in flu seasons, I used to use <a href="https://www.google.org/flutrends" target="_blank">Google FLu Trend</a> to check the flu trend in Sydney area. After Google stopped this service on September 2015, I realized the similar data still could be found on <a href="https://www.google.com/trends/">Google Trend</a>. However, on Google trend page you have to set category, country, region, time … to get result. That’s a bit annoying. 
      </p>
      <p>
          So I decided to build a small application called <b>Flu Reporter</b> and share it with people who still want to use Google flu trend data.  <a href="/projects/flu-reporter">Read More</a>
      </p>

  </div>

  <div class="large-image-wrapper">
    <a href="/projects/flu-reporter">
      <img src="/img/flu-reporter-feature.png">
    </a>
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
  <div class="copy-wrapper">
      <p class="tag">RedAnt Project / design / development</p>
      <h2><a href="/projects/12wbt">12WBT Public Site</a></h2>
      <p>
        12WBT is a subscription-based digital product designed to help people reach their fitness goals, such as losing weight. I was part of an agile team was involved to build their public site and responsible for create landing page, micro site and eDM for various promos.  <a href="/projects/12wbt">Read More</a>
      </p>
  </div>

  <div class="large-image-wrapper">
    <a href="/projects/12wbt">
      <img src="/img/12wbt-feature.jpg">
    </a>
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
  <div class="copy-wrapper">
      <p class="tag">RedAnt Project / design / development</p>
      <h2><a href="/projects/rotacota/">Rotacota Web Site</a></h2>
      <p>
        Rotacota, leading brush/roller brand in Australia need a new website to showcase their production.  I was involved in design, front-end development and CMS implementation. <a href="/projects/rotacota/">Read More</a>
      </p>
  </div>

  <div class="large-image-wrapper">
    <a href="/projects/rotacota/">
      <img src="/img/rotacota-feature.jpg">
    </a>
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
  <div class="copy-wrapper">
      <p class="tag">RedAnt Project / design </p>
      <h2><a href="/projects/redant/">RedAnt Presentation Templates</a></h2>
      <p>
        Presentation templates for Redant Design. <a href="/projects/redant/">Read More</a>
      </p>
  </div>

  <div class="large-image-wrapper">
    <a href="/projects/redant/">
      <img src="/img/redant-feature.jpg">
    </a>
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
  <div class="copy-wrapper">
      <p class="tag">design</p>
      <h2><a href="/projects/transense">Transense Conference & Incentive Management Branding Design</a></h2>
      <p>Transense is a professional conference organiser offers complete service solutions in conference, incentive, event and travel management. My mission was to design them a new brand. <a href="/projects/transense">Read More</a>
      </p>
  </div>

  <div class="large-image-wrapper">
    <a href="/projects/transense">
      <img src="/img/transense-feature.jpg">
    </a>
  </div>

  <div class="spacing"></div>
</section>
{% include footer.html %}