footer{
    background: url("/img/japan-wave.gif");
    margin-top: $spacing-large;
    a{
        color:#fff;
    }
    a:hover{
        color: $action-color;
    }
    h2{
      margin-top: $spacing-large;
    }
    .content-wrapper{
        @include outer-container;
        color: #fff;
        .detail{
            @include define-offset(2, 8);
            border-bottom: 1px solid #939394;
            padding-bottom: 10px;
            i{
                font-size: 30px;
                margin-right: 10px;
                vertical-align: -5px;
                line-height: 1;
            }
        }
        .social-icons{
            @include define-offset(2, 8);
            padding-top: $spacing-tiny;
            padding-bottom: $spacing-large;
            a{
                display: inline-block;
                margin-right: 30px;
                i{
                    font-size: 32px;
                }
            }
        }
    }

    .copy-right{
       background: #1c1c1c;
       .copy-right-wrapper{
            @include outer-container;
            padding-top: 10px;
            .disclaimer{
                @include define-offset(2, 8);
                p, a{
                    font-size: 12px;
                    color: #777777;
                }
            }
       }
    }
}

@include media($large-screen-down){
    footer .content-wrapper .detail, footer .content-wrapper .social-icons, footer .copy-right .copy-right-wrapper .disclaimer{
        @include define-offset(1, 10);
    }
}

@include media($small-screen){
  footer{
    margin-top: $spacing-medium;
    
    .content-wrapper .social-icons{
      padding-bottom: $spacing-medium;
    }

    h2{
      margin-top: $spacing-medium;
    }
  } 
}