header{
  @include outer-container;
  .content-wrapper{
    @include shift(2);
    @include span-columns(8);
    text-align: center;

    h1{
      margin-bottom: 10px;
    }
    
    h2{
      margin-top: 0px;
      margin-bottom: 30px;
      font-weight: 300;
    }
    h2.sub-heading{
      font-size: 32px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    h3{
      font-size: 24px;
      font-weight: 300;
    }
    p{
      font-size: 22px;
    }
  }
  .spacing{
    height: 70px;
  }
}


@include media($medium-screen){
  header .content-wrapper{
    @include define-offset(1, 10);
    
    h3{ 
      font-size: 24px;
    }
    
    p{
      font-size: 26px;
    }

  }
}

@include media($small-screen){
  header{
      .content-wrapper{
        @include define-offset(1, 10);

        h2{
          margin-bottom: 40px;
        }

        h3{
          margin-bottom: 40px;
        }

        p{
          font-size: 22px;
        }

      }    
  } 
    .spacing{
        height: 50px;
    }

}