---
layout: plain
title: Hello
subtitle: Thanks for stopping by
subheading: A little about me
intro:  <p>I am <a href="/about">gang wang</a>, a designer & front end developer living in Sydney.  Over the course of my career, I’ve worked on many successful <a href="/projects">projects</a>. Outside of work, I am a <a href="#">cat lover</a> and enjoy <a href="#">diving</a>, <a href="#">riding</a>.</p>
---
{% include nav.html %}
{% include header.html %}

<section>
  <div class="copy-wrapper">
      <p class="tag">Recent project</p>
      <h2><a href="/projects/flu-reporter">Flu reporter</a></h2>
      <p>
        Personal project to build a web site and mobile app to give people easy access to Google flu trend data. <a href="#">Read More</a>
      </p>
  </div>

  <div class="large-image-wrapper">
    <a href="/projects/flu-reporter">
      <img src="/img/flu-reporter-feature.png">
    </a>
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
  <div class="copy-wrapper">
    <p class="tag">Latest blog</p>
    <h2><a href="#">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate porttitor eu, consequat </a></h2>

    <ul class="blog-info">
        <li><i class="ion-android-calendar"></i>30 September 2015</li>
        <li><i class="ion-chatbox-working"></i>0</li>
        <li><i class="ion-ios-bookmarks"></i><a href="#">Diving</a></li>
    </ul>

    <p>
        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. <a href="#">Read More</a>
    </p>
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <p class="tag">Featured diving</p>
        <h2><a href="#">Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales</a> </h2>
        <p>
            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. <a href="#">Read More</a>
        </p>
        <div class="small-image-wrapper">
            <img src="http://placehold.it/1200x500">
        </div>   
    </div>
    <div class="bottom-line has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <p class="tag">Featured diving</p>
        <h2><a href="#">Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales</a> </h2>
        <p>
            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. <a href="#">Read More</a>
        </p>
        <div class="small-image-wrapper">
            <img src="http://placehold.it/1200x500">
        </div>   
    </div>
    <div class="bottom-line has-border"></div>
</section>

{% include footer.html %}