---
layout: plain
---
{% include nav.html %}

<header class="home">
    <div class="content-wrapper">
        <h1>Hello</h1>
        <h2>Thanks for stopping by</h2>
        <h3>A little about me</h3>
        <p>I am <a href="/about">gang wang</a>, a designer & front end developer living in Sydney.  Over the course of my career, I’ve worked on many successful <a href="/projects">projects</a>. Outside of work, I am a <a href="#">cat lover</a> and enjoy <a href="#">diving</a>, <a href="#">riding</a>.</p>
    </div>
    <div class="spacing has-border"></div>
</header>

<section>
  <div class="copy-wrapper">
      <p class="tag">Recent project</p>
      <h2><a href="/projects/flu-reporter">Flu Reporter</a></h2>
         <p>
          In past a few years, I used a <a href="https://www.google.org/flutrends" target="_blank">Google web service</a> to check the flu trend in Sydney area in flu seasons. After Google stopped this service in September 2015, I realized such data would still be available on <a href="https://www.google.com/trends/">Google Trend</a>. However, you have to set up complex search criteria every time when start search which is a bit annoying.
      </p>
      <p>
          So I decided to build a small application that can automatically grab flu trend data from google API and share it with people who still want to use Google flu trend data. <a href="/projects/flu-reporter">Read More</a>
      </p>
  </div>

  <div class="large-image-wrapper">
    <a href="/projects/flu-reporter">
      <img src="/img/flu-reporter-feature.png">
    </a>
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
  <div class="copy-wrapper">
    <div class="calendar center-text">
      <p class="month">Dec</p>
      <p class="date">28</p>
      <p class="year">2015</p>
    </div>

    <div class="main-content">
      <p class="tag">Latest blog</p>
      <h2>My insights for responsive design</h2>
      <p>Sure, starting on small screen (a single tube of content) can help you to make decisions about what is most important on the page. On other hand, big screen gives you better control for overall look and feel (styling) ... <a href="/blog/2015/12/28/responsive-design-insight.html">Read more</a></p>
      
      <a href="/projects/flu-reporter">
        <img src="/img/blogs/web/screen-size.jpg">
      </a>
    </div>
  </div>
</section>
 
{% include footer.html %}