---
layout: plain
category: memory
---
{% include nav.html %}

<header class="home">
    <div class="content-wrapper">
        <h1>Cats</h1>
        <h3>Gelato, Momo and Ernie's life</h3>
    </div>
    <div class="spacing has-border"></div>
</header>


<section itemscope itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
        {% if post.sub-category == 'riding' %}
            {% include article-info.html %}
        {% endif %}
    {% endfor %}
</section>

{% include footer.html %}