<div class="nav-wrapper">
  <nav>
    <div class="content-wrapper">
      
      <button id="navicon-button" class="navicon-button">
        <i class="ion-ios-more"></i>
      </button>

      <div class="transform-mask">
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/memory">Memory</a></li>
        </ul>
      </div>


      <a class="home-btn" href="/"><i class="ion-ios-home"></i></a> 
    
    </div>
  </nav>
</div>
