---
layout: plain
title: 12WBT Public Site
heading: 12WBT <br>Public Site
subheading: <a href="http://www.redant.com.au/" target="_blank">RedAnt Project</a>  / Development
---
{% include nav.html %}
{% include header.html %}

<section>
    <div class="copy-wrapper">
        <h2>Background</h2>
        <p>12WBT.com is a very popular health and fitness site, with a large community of highly engaged members. It actually includes two sites: 
        </p>
        <p><b>Public site</b>, built on <a href="http://locomotivecms.com/" target="_blank">locomotive</a>(a rails CMS) using <a href="https://www.mongodb.org/" target="_blank">MongoDB</a>, showcases various fitness programs, nutrition plans, and fitness articles to general public.</p>
        <p><b>Member site</b>, is <a href="http://rubyonrails.org/" target="_blank">rails application</a> using MySQL, provides members 12 weeks of exercises, food plans, shopping lists, live chat, forum and interactive tools.</p>
        <p>I was a member of an agile team that built/maintain 12WBT public site. </p>
         <div class="small-image-wrapper">
            <img src="/img/12wbt-01.jpg">
         </div>
    </div>
    <div class="bottom-line has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <h2>Data Share/Exchange </h2>
        <p>We needed to perform data share/exchange between member site and public site. Two technical methods used to fulfill this task:</p>
        <ul class="has-bullet">
            <li>Extending locomotive engine to access MySQL </li>
            <li>Using JavaScript interacting with JSON APIs</li>
        </ul>
        <div class="small-image-wrapper">
            <img src="/img/12wbt-02.jpg">
         </div>
    </div>
    <div class="bottom-line has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <h2>Micro site, Landing page and eDM </h2>
        <p>I was responsible for creating landing pages, micro sites and eDMs for various campaigns. </p>
        <div class="small-image-wrapper">
            <img src="/img/12wbt-03.jpg">
        </div>
    </div>
    <div class="bottom-line has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <h2>Modularize front-end code </h2>
        <p>We modularized SASS code to keep things organized and sharable. </p>
        <div class="small-image-wrapper">
            <img src="/img/12wbt-04.jpg">
         </div>
    </div>
    <div class="bottom-line has-border"></div>
</section>

<section>
    <p class="center-text view-project"><span>[</span>     <a href="https://www.12wbt.com/" target="_blank">VIEW PROJECT</a>    <span>]</span></p>
    <p class="center-text">Next project: <a href="/projects/rotacota/">RotaCota Site</a></p>
</section>


{% include footer.html %}