---
layout: plain
title: Rotacota Site
subheading: RedAnt Project / design / development
---
{% include nav.html %}
{% include header.html %}

<section>
    <div class="copy-wrapper">
        <h2>Front-end, CMS implementation</h2>
        <p>
            Rotacota site is not an Angular single page application but I used Angular Directive extensively to structure and modularize front-end code.  For backend, we chosen Locomotive, an open source CMS for Rails, uses Liquid templating and MongoDB.
        </p>
    </div>

    <div class="spacing has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <h2>Generate PDF Catalogue  </h2>
        <p>We extend the CMS so that client can generate a PDF product catalogue with barcode image. After download/print the catalogue, deals can easily to add production into barcode system by scan barcode image.  </p>
    </div>

    <div class="spacing has-border"></div>
</section>
{% include footer.html %}