---
layout: plain
title: Rotacota Site
subheading: <a href="http://www.redant.com.au/" target="_blank">RedAnt project</a>  / Design / Development
---
{% include nav.html %}
{% include header.html %}

<section>
    <div class="copy-wrapper">
        <h2>Front-end, CMS implementation</h2>
        <p>
            Rotacota site is not an Angular single page application but I used Angular Directive extensively to structure and modularize front-end code.  For backend, we chosen Locomotive, an open source CMS for Rails, uses Liquid templating and MongoDB.
        </p>
        <div class="small-image-wrapper">
            <img src="/img/rotacota-01.jpg">
         </div>
    </div>

    <div class="bottom-line has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <h2>Generate PDF Catalogue  </h2>
        <p>We extended the CMS so that clients can generate a PDF product catalogue with barcode images. After download/print the catalogue, deals can easily to add production into barcode system by scan barcode image.  </p>
        <div class="small-image-wrapper">
            <img src="/img/rotacota-02.jpg">
        </div>
    </div>

    <div class="bottom-line has-border"></div>
</section>

<section>
    <p class="center-text view-project"><span>[</span>     <a href="http://www.rotacota.com.au/" target="_blank">VIEW PROJECT</a>    <span>]</span></p>
    <p class="center-text">Next project: <a href="/projects/redant/">RedAnt Presentation Templates</a></p>
</section>
{% include footer.html %}