---
layout: plain
title: Hello
subtitle: Donec pede justo, fringilla ve
subheading: Nullam dictum felis eu pede
intro:  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
---
{% include nav.html %}
{% include header.html %}

<section>
  <div class="copy-wrapper">
      <p class="tag">Lorem ipsum dolor</p>
      <h2><a href="#">Dis parturient montes, nascetur ridiculus mus. </a></h2>
      <p>
        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. <a href="#">Read More</a>
      </p>
  </div>

  <div class="large-image-wrapper">
    <img src="http://placehold.it/1000x500"> 
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
  <div class="copy-wrapper">
    <p class="tag">Latest blog</p>
    <h2><a href="#">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate porttitor eu, consequat </a></h2>

    <ul class="blog-info">
        <li><i class="ion-android-calendar"></i>30 September 2015</li>
        <li><i class="ion-chatbox-working"></i>0</li>
        <li><i class="ion-ios-bookmarks"></i><a href="#">Diving</a></li>
    </ul>

    <p>
        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. <a href="#">Read More</a>
    </p>
  </div>

  <div class="spacing has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <p class="tag">Recent activity</p>
        <h2><a href="#">Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales</a> </h2>
        <p>
            Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. <a href="#">Read More</a>
        </p>
        <div class="small-image-wrapper">
            <img src="http://placehold.it/1200x500">
        </div>   
    </div>
    <div class="bottom-line has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <h2>h2. Duis leo. Sed fringilla mauris sit amet nibh. Donec</h2>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante</p>
        <h3>h3. Duis leo. Sed fringilla mauris sit amet nibh. Donec</h3>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante</p>
        <h4>h4. Duis leo. Sed fringilla mauris sit amet nibh. Donec</h4>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante</p>
        <h5>h5. Duis leo. Sed fringilla mauris sit amet nibh. Donec</h5>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante</p>
        <h6>h6. Duis leo. Sed fringilla mauris sit amet nibh. Donec</h6>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante</p>
    </div>
    <div class="spacing has-border"></div>
</section>

<section>
    <div class="copy-wrapper">
        <h2>h2. Duis leo. Sed fringilla mauris sit amet nibh. Donec</h2>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante</p>
        <div class="left-col">
            <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante</p>
        </div>
        <div class="rig-col">
            <img src="http://placehold.it/1200x500">
        </div>
    </div>
</section>

{% include footer.html %}