// @import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Custom Breakpoints
// tinyScreen < 300px
// smallScreen 300 - 600px
// mediumScreen 600 - 900px
// largeScreen 900 - 1200
// extraLargeScreen 1200 +

$tinyScreen: new-breakpoint(max-width rem(300));
$smallScreen: new-breakpoint(min-width rem(301) max-width rem(600));
$mediumScreen: new-breakpoint(min-width rem(601) max-width rem(900));
$largeScreen: new-breakpoint(min-width rem(901) max-width rem(1200));
$extraLargeScreen: new-breakpoint(min-width rem(1201));








