// @import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Custom Breakpoints

// smallScreen < 600px
// mediumScreen 600 - 900px
// largeScreen 900 - 1200
// extraLargeScreen 1200 +

$smallScreen: new-breakpoint(max-width 600px);
$mediumScreen: new-breakpoint(min-width 601px max-width 900px);
$largeScreen: new-breakpoint(min-width 901 max-width 1200px);
$extraLargeScreen: new-breakpoint(min-width 1201px);








